.timeline{
        padding:0px !important;
        font-size: 12px;
}



.timeline .timeline_header{
        padding: 10px !important;

}
.timeline .timeline_firstitem{
        min-height: 80px !important;
}

.timeline .MuiTimelineItem-root {
        min-height: 40px ;
}
.timeline .separator_padding{
        padding-left: 17px!important;
}

.timeline  .MuiTimelineItem-missingOppositeContent::before{
        display: none;
}
.timeline .timeline_dot_header{
        color:rgb(73, 44, 44);
        background-color: var(--main-color) !important;
        font-size: 27px !important;
        padding: 7px !important;
}
/* line style  */

.timeline .MuiTimelineConnector-root{
        background-color: rgb(226, 207, 207) !important;
}

.MuiTimelineDot-defaultGrey{
        background-color: white!important;
}

/* Remaining item */

.timeline .timeline_dot{
        color:rgb(230, 0, 0);
        border-color: var(--main-color);
        font-size: small !important;
        padding: 2px !important;
}

.MuiTypography-body1{
        font-size: 14px !important;
        color: #777;
}
.profile_information{
        font-size: 12px !important;
}
