:root {
        --main-color: #ffc500;
}
#root{
        display: flex;
        justify-content: center;
}
.myApp{
        width: 90% !important;
} 

.wrapper{
        width: 100%;
        justify-content: center;
        margin-top: 60px !important;
}

@media(max-width: 991px){
        .wrapper{
                margin-top: 30px !important;
        }
}

.main-content{
        box-shadow: 0px 2px 92px 0px rgba(0,0,0,0.13);
        min-height: 100vh;
        background-color: #fff;
        margin-bottom: 20px !important;
        padding: 30px;

}

.timeline .timeline_dot {
        color: rgb(230, 0, 0);
        border-color: #eab70a;
        font-size: small !important;
        padding: 2px !important;
    }