body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  background: #fafafa;
  background: url('../src/assets/images/bg.png');
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: cover;
  scroll-padding-top: 70px !important;
}

html {
  --top-spacing: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
